apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-gke
  namespace: app-dev
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flask-gke
  template:
    metadata:
      labels:
        app: flask-gke
    spec:
      containers:
      - name: flask-gke
        image: europe-west1-docker.pkg.dev/learned-dahlia-374710/gke-apps/flask-gke:v1
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: "25Mi"
            cpu: "50m"
          limits:
            memory: "50Mi"
            cpu: "100m"
        env:
        - name: APP_VERSION
          value: "1.0"
        
